.topPadding {
    padding-top: 20px;
}

.topMargin {
    margin-top: 20px;
}

.bottomMargin {
    margin-bottom: 20px;
}

.dish {
    border: 5px solid #2C3E50;
    height: 330px;
    margin: 10px;
    padding: 10px;
    position: relative;
}

.dishBrowseImage{
    max-height: 180px;
}

.dishBrowseText {
    position: absolute;
    bottom: 0px;
}

#dishDescription {
    text-align: justify;
}

.buttonAsLink {
  background: none!important;
  border: none;
  padding: 0!important;
  color: white;
  cursor: pointer;
}

#locationForm {
    margin-top: 8px;
}

#cardNumberError{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #e74c3c;
}

#nextButton {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.cartHeader {
    font-weight: bold;
}