<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add day</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body class="d-flex flex-column min-vh-100">

<div th:replace="commonElements :: cookNavBar"></div>

<div class="container topMargin" id="dayContainer">

    <div class="row">
        <div class="col-md-2">Day</div>
        <div class="col-md-2">From(hour)</div>
        <div class="col-md-2">From(min)</div>
        <div class="col-md-2">To(hour)</div>
        <div class="col-md-2">To(min)</div>
        <div class="col-md-2">Open?</div>
    </div>

    <form method="post" th:object="${daysForm}">

        <div class="row rowItems" th:each="day, stat : *{list}">

            <div class="col-md-2">
            <span th:text="*{list[__${stat.index}__].dayName}"></span>
            </div>


            <input type="hidden" th:field="*{list[__${stat.index}__].dayOfTheWeek}">

            <div class="col-md-2">
                <select class="form-control custom-select" th:field="*{list[__${stat.index}__].fromTimeHour}">
                    <option th:each="i : ${#numbers.sequence(0, 23)}"
                            th:value="${i}"
                            th:selected="${i} == *{list[__${stat.index}__].fromTimeHour}"
                            th:text="${i}"></option>
                </select>
            </div>

            <div class="col-md-2">
                <select class="form-control custom-select" th:field="*{list[__${stat.index}__].fromTimeMinutes}">
                    <option th:each="i : ${#numbers.sequence(0, 59)}"
                            th:value="${i}"
                            th:selected="${i} == *{list[__${stat.index}__].fromTimeMinutes}"
                            th:text="${i}"></option>
                </select>
            </div>

            <div class="col-md-2">
                <select class="form-control custom-select" th:field="*{list[__${stat.index}__].untilTimeHour}">
                    <option th:each="i : ${#numbers.sequence(0, 23)}"
                            th:value="${i}"
                            th:selected="${i} == *{list[__${stat.index}__].untilTimeHour}"
                            th:text="${i}"></option>
                </select>
            </div>

            <div class="col-md-2">
                <select class="form-control custom-select" th:field="*{list[__${stat.index}__].untilTimeMinutes}">
                    <option th:each="i : ${#numbers.sequence(0, 59)}"
                            th:value="${i}"
                            th:selected="${i} == *{list[__${stat.index}__].untilTimeMinutes}"
                            th:text="${i}"></option>
                </select>
            </div>

            <div class="col-md-2">
                <input type="checkbox" th:field="*{list[__${stat.index}__].isWorkDay}">
            </div>

        </div>


        <button class="btn btn-primary" text="submitLearn" type="submit"><span>Save</span></button>

    </form>

</div>

<div id="blankDiv"></div>
<div th:replace="commonElements :: footer"></div>
<script th:src="@{/js/location.js}"></script>
<div th:replace="commonElements :: bootstrapFragment"></div>
</body>
</html>