<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add dish</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body class="d-flex flex-column min-vh-100">

<div th:replace="commonElements :: cookNavBar"></div>

<div class="topPadding container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">

            <form method="post" th:object="${addDishForm}" enctype="multipart/form-data">

                <div class="form-group">
                    <label th:for="${#vars.getVariable('addDishForm.title')}" th:text="#{dish.title}">Dish title</label>
                    <input type="text" class="form-control" th:field="*{title}" th:errorclass="is-invalid">
                    <div class="invalid-feedback" th:text="#{error.dishTitle}">Error</div>
                </div>

                <div class="form-group">
                    <label th:for="${#vars.getVariable('addDishForm.description')}" th:text="#{dish.description}">Dish description</label>
                    <textarea class="form-control" th:field="*{description}" maxlength="2000" rows="6" th:errorclass="is-invalid"></textarea>
                    <div class="invalid-feedback" th:text="#{error.dishDescription}">Error</div>
                </div>

                <div class="form-group">
                    <label th:for="${#vars.getVariable('addDishForm.priceInEuro')}" th:text="#{dish.price}">Price in euros</label>
                    <input type="number" class="form-control" th:field="*{priceInEuro}" th:errorclass="is-invalid">
                    <div class="invalid-feedback" th:text="#{error.price}">Error</div>
                </div>


                <div class="form-group">
                    <label th:for="${#vars.getVariable('addDishForm.timeToPrepareInMinutes')}" th:text="#{dish.timeToPrepareInMinutes}">Time to prepare</label>
                    <input type="number" class="form-control" th:field="*{timeToPrepareInMinutes}" th:errorclass="is-invalid">
                    <div class="invalid-feedback" th:text="#{error.timeToPrepareInMinutes}">Error</div>
                </div>


                <label class="btn btn-primary">
                    <span th:text="#{dish.picture}"></span>
                    <input hidden type="file" th:field="*{imageFile}" th:errorclass="is-invalid" accept="image/gif, image/png, image/jpeg">
                    <div class="invalid-feedback" th:text="#{error.imageFormat}">Error</div>
                </label>

                <select class="form-control custom-select" th:field="*{quantity}">
                    <option th:each="i : ${#numbers.sequence(0, 10)}"
                            th:value="${i}"
                            th:selected="${i} == *{quantity}"
                            th:text="${i}"></option>
                </select>

                <button th:text="#{submit}" class="topMargin bottomMargin btn btn-lg btn-primary btn-block" type="submit">Submit
                </button>


            </form>
        </div>
    </div>
</div>


<div id="blankDiv"></div>
<div th:replace="commonElements :: footer"></div>


<script th:src="@{js/main.js}"></script>
<div th:replace="commonElements :: bootstrapFragment"></div>
</body>
</html>