<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Address</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body class="d-flex flex-column min-vh-100">

<div th:replace="commonElements :: browseNavBar"></div>

<div class="topPadding container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">

            <form method="post" th:object="${address}" action="/address">

                <div class="form-group">
                    <label>Address 1</label>
                    <input type="text" class="form-control" th:field="*{address1}" th:errorclass="is-invalid">
                </div>

                <div class="form-group">
                    <label>Address 2</label>
                    <input type="text" class="form-control" th:field="*{address2}" th:errorclass="is-invalid">
                </div>

                <div class="form-group">
                    <label>City</label>
                    <input type="text" class="form-control" th:field="*{city}" th:errorclass="is-invalid">
                </div>

                <div class="form-group">
                    <label>Country</label>
                    <input type="text" class="form-control" th:field="*{country}" th:errorclass="is-invalid">
                </div>

                <div class="form-group">
                    <label>Post code</label>
                    <input type="text" class="form-control" th:field="*{postcode}" th:errorclass="is-invalid">
                </div>

                <input type="text" hidden th:field="*{id}">

                <button th:text="#{submit}" class="topMargin bottomMargin btn btn-lg btn-primary btn-block" type="submit">Submit
                </button>


            </form>
        </div>
    </div>
</div>


<div id="blankDiv"></div>
<div th:replace="commonElements :: footer"></div>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/cartNav.js}"></script>

<div th:replace="commonElements :: bootstrapFragment"></div>
</body>
</html>