<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" id="browseHtml">
<head>
    <title>My addresses</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body class="d-flex flex-column min-vh-100" id="browseBody">

<div th:replace="commonElements :: browseNavBar"></div>

<div class="container-fluid">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Address 1</th>
                <th scope="col">Address 2</th>
                <th scope="col">City</th>
                <th scope="col">Country</th>
                <th scope="col">Postcode</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="address : ${addresses}">
                <td scope="row">
                    <a th:href="@{address/{id}(id=${address.id})}">
                        <span th:text="${address.address1}">
                        </span>
                    </a>
                    <span class="myAddressId" th:text="${address.id}" hidden></span>
                </td>

                <td th:text="${address.address2}">Otto</td>

                <td th:text="${address.city}">Otto</td>
                <td th:text="${address.country}">Otto</td>
                <td th:text="${address.postcode}">Otto</td>
                <td><button class="deleteAddressButton btn btn-primary">Delete</button> </td>

            </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="blankDiv"></div>
<div th:replace="commonElements :: footer"></div>

<script th:src="@{/js/address.js}"></script>
<div th:replace="commonElements :: bootstrapFragment"></div>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/cartNav.js}"></script>
</body>
</html>