<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" id="browseHtml">
<head>
    <title>Cart</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body class="d-flex flex-column min-vh-100">


<div th:replace="commonElements :: browseNavBar"></div>


<div class="container topMargin bottomMargin">
<form method="post" action="/cart" th:object="${addToCardForm}">

        <div class="alert alert-danger" role="alert"
             th:if="${isThereError}" th:utext="${errorMsg}"></div>

    <div class="row cartHeader">
        <div class="col-md-2"></div>
        <div class="col-md-2">Dish name</div>
        <div class="col-md-1">Qty</div>
        <div class="col-md-1">Delivery</div>
        <div class="col-md-2">Time</div>
        <div class="col-md-1">Price(&euro;)</div>
        <div class="col-md-1">Total</div>
        <div class="col-md-1"></div>

    </div>

    <div th:each="item, stat : *{addToCardList}">

        <div class="row cartItem topMargin">

            <input class="dishId" type="hidden" th:value="${item.dishId}">

            <div class="col-md-2">
                <a th:href="@{/browse/{id}(id=${item.dishId})}">
                <img class="img-fluid" th:src="@{'data:image/jpg;base64,' + ${item.image} }">
                </a>
            </div>
            <div class="col-md-2">
                <span th:text="${item.title}"></span>
            </div>

            <div class="col-md-1">
            <select class="form-control custom-select quantitySelect" th:field="*{addToCardList[__${stat.index}__].quantity}">
                <option th:each="i : ${#numbers.sequence(0, item.availableQuantity)}"
                        th:text="${i}"
                        th:value="${i}"></option>
            </select>
            </div>

            <div class="col-md-1">
                <input class="isDeliveryChosen" type="checkbox" th:checked="${item.delivery}" />
            </div>

            <div class="col-md-2">
                <span th:text="${item.date}"></span>
                <span th:text="${item.hour}"></span>:
                <span th:text="${item.minute}"></span>
            </div>

            <div class="col-md-1">
                <span class="price" th:text="${#numbers.formatDecimal(item.price,0,2)}"></span>
            </div>

            <div class="col-md-1">
                <span class="total"></span>
            </div>

            <div class="col-md-1">
                <button class="btn btn-primary removeItem">Remove</button>
            </div>

        </div>

    </div>

</form>


    <a href="/card" id="nextButton" class="btn btn-primary btn-outline-white btn-md my-0 ml-sm-2" role="button"><span>Next</span></a>

</div>


<div id="blankDiv"></div>
<div th:replace="commonElements :: footer"></div>

<script th:src="@{/js/location.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/cart.js}"></script>
<script th:src="@{/js/cartNav.js}"></script>

<div th:replace="commonElements :: bootstrapFragment"></div>
</body>
</html>