<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" id="browseHtml">
<head>
    <title>Cart</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body class="d-flex flex-column min-vh-100">


<div th:replace="commonElements :: cookNavBar"></div>


<div class="container topMargin bottomMargin">


    <div class="row cartHeader">
        <div class="col-md-6">From</div>
        <div class="col-md-6">Until</div>

    </div>

    <div th:each="item, stat : *{timeOffs}">

        <a th:href="@{/cook/allTimeOff/{id}(id=${item.id})}">
            <div class="row topMargin">

                <input class="dishId" type="hidden" th:value="${item.id}">

                <div class="col-md-6">
                    <span th:text="${item.fromTime}"></span>
                </div>

                <div class="col-md-6">
                    <span th:text="${item.untilTime}"></span>
                </div>

            </div>
        </a>

    </div>

</div>


<div id="blankDiv"></div>
<div th:replace="commonElements :: footer"></div>

<script th:src="@{/js/location.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/cart.js}"></script>
<script th:src="@{/js/cartNav.js}"></script>

<div th:replace="commonElements :: bootstrapFragment"></div>
</body>
</html>