<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" id="browseHtml">
<head>
    <title>Browse</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body id="browseBody" class="d-flex flex-column min-vh-100">

<div th:replace="commonElements :: cookNavBar"></div>

<div class="container-fluid">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Quantity</th>
                <th scope="col">Description</th>
                <th scope="col">Time</th>
                <th scope="col">Price</th>
                <th scope="col">Image</th>
            </tr>
            </thead>
            <tbody>
            <tr  th:each="dish : ${dishes}">
                <td scope="row">
                    <a th:href="@{browse/{id}(id=${dish.id})}">
                        <span th:text="${dish.title}">
                        </span>
                    </a>
                </td>

                <td th:text="${dish.quantity}">Otto</td>

                <td th:text="${dish.description}">Otto</td>
                <td th:text="${dish.timeToPrepareInMinutes}">Otto</td>
                <td th:text="${dish.priceInEuro}">Otto</td>
                <td>
                    <img  class="img-fluid dishImage" th:src="@{'data:image/jpg;base64,' + ${dish.imageInBase64}}" />
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="blankDiv"></div>
<script th:src="@{/js/location.js}"></script>
<div th:replace="commonElements :: bootstrapFragment"></div>
<div th:replace="commonElements :: footer"></div>

</body>
</html>