<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" id="browseHtml">
<head>
    <title>Browse</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body id="browseBody" class="d-flex flex-column min-vh-100">


<nav class="navbar primary navbar-expand-lg navbar-dark bg-dark">
    <a href="/browse" class="navbar-brand">HomeCook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link active" href="/browse"><span>Browse</span></a>
            </li>

            <form method="post" action="/location" id="locationForm">

                <input type="hidden" id="latitude" name="latitude">
                <input type="hidden" id="longitude" name="longitude">

                <button id="locationButton" class="buttonAsLink" type="submit">Change your location</button>
            </form>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span th:text="#{profile}"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <a class="dropdown-item" href="/address"><span>New address</span></a>
                    <a class="dropdown-item" href="/myaddress"><span>My addresses</span></a>
                    <a class="dropdown-item" href="/changePassword"><span>Change password</span></a>
                    <a class="dropdown-item" href="/purchase"><span>Orders</span></a>


                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/logout"><span>Log out</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/cart"><span id="cartNavTotal">0.0</span></a>
            </li>
        </ul>


            <div class="md-form my-0">
                <input th:value="${searchWord}" class="form-control" name="searchWord" id="searchWord" type="text" placeholder="Dish or cook" aria-label="Search">
            </div>
            <button id="searchButton" class="btn btn-primary btn-outline-white btn-md my-0 ml-sm-2" type="submit"><span>Search</span></button>

    </div>
</nav>

<div class="container" id="browseUsers">
    <form class="topMargin bottomMargin" action="/browse" method="get">
        <div class="container" id="filter">
            <div class="row">
                <div class="col-md-3">
                    <select name="sort" id="sort" class="custom-select">
                        <option value="dist_asc" th:text="#{dist_asc}"></option>
                        <option value="dist_desc" th:text="#{dist_desc}"></option>

                        <option value="star_asc" th:text="#{star_asc}"></option>
                        <option value="star_desc" th:text="#{star_desc}"></option>

                        <option value="title_asc" th:text="#{title_asc}"></option>
                        <option value="title_desc" th:text="#{title_desc}"></option>

                        <option value="price_asc" th:text="#{price_asc}"></option>
                        <option value="price_desc" th:text="#{price_desc}"></option>

                        <option value="time_asc" th:text="#{time_asc}"></option>
                        <option value="time_desc" th:text="#{time_desc}"></option>
                    </select>
                </div>

                <div class="col-md-2">
                    <input class="form-control" th:value="${distance}" type="number" min="1" max="200" name="distance" id="distance" placeholder="Between 1 and 50 km">
                </div>
                <div class="col-md-2">
                    <input class="form-control" type="date" id="chosenDate" name="chosenDate" th:value="${chosenDate}">
                </div>

                <div class="col-md-1">
                    <select class="form-control custom-select" name="chosenTimeHour" id="chosenTimeHour">
                        <option th:each="i : ${#numbers.sequence(0, 23)}"
                                th:value="${i}"
                                th:selected="${i} == ${untilHour}"
                                th:text="${i}"></option>
                    </select>
                </div>

                <div class="col-md-1">
                        <select class="form-control custom-select" id="chosenTimeMinutes" name="chosenTimeMinutes">
                            <option th:each="i : ${#numbers.sequence(0, 59)}"
                                    th:value="${i}"
                                    th:selected="${i} == ${untilMinute}"
                                    th:text="${i}"></option>
                        </select>
                </div>



                <input hidden type="text" th:value="${searchWord}" name="searchWord" >


                <div class="col-md-3">
                    <input type="submit" value="Filter"
                           class="btn btn-primary">
                </div>
            </div>
        </div>
    </form>


    <div class="row">
        <div th:each="dishDto : ${dishList}" class="col-lg-3 col-md-6 dish">

            <a th:href="${'/browse/'} + ${dishDto.dishId} + ${'?'} + ${dateTimeUrl}">
                <img class="img-fluid dishBrowseImage" th:src="@{'data:image/jpg;base64,' + ${dishDto.image} }" />
            </a>

            <div class="dishBrowseText">
            <div id="firstAndLastName">
                <span th:text="${dishDto.title}"></span>
                <span th:text="${#numbers.formatDecimal(dishDto.average,1,1)}"></span>
                <span th:text="${dishDto.total}"></span>
            </div>

            <div id="cookName">
                <span th:text="${dishDto.firstName}"></span>
                <span th:text="${dishDto.lastName}"></span>
            </div>

            <div id="price">
                <span th:text="${dishDto.price}"></span>
                <span>&euro;</span>
            </div>

            <div id="distanceFromMe">
                <span th:text="${#numbers.formatDecimal(dishDto.distance,1,0)}"></span>
                <span> km</span>
            </div>

            </div>

        </div>
    </div>

    <div class="row topMargin bottomMargin">
        <a th:href="${previous}" class="btn btn-primary btn-outline-white btn-md my-0 ml-sm-2" role="button" th:if="${isTherePrevious}"><span>Previous</span></a>
        <a th:href="${next}" class="btn btn-primary btn-outline-white btn-md my-0 ml-sm-2" role="button" th:if="${isThereNext}"><span>Next</span></a>
    </div>

</div>

<span hidden id="urlForSearch" th:text="${urlForSearch}"></span>


<!--<a th:href="${previous}" class="btn btn-primary btn-outline-white btn-md my-0 ml-sm-2" role="button" th:if="${isTherePrevious}">Previous</a>-->
<!--<a th:href="${next}" class="pull-right btn btn-primary btn-outline-white btn-md my-0 ml-sm-2" role="button" th:if="${isThereNext}">Next</a>-->

<!--<div th:each="userResultInterest : ${userResult.interestTeacher}">-->
<!--<span th:text="${userResultInterest.name}"></span>-->
<!--</div>-->

</div>

<div id="blankDiv"></div>
<div th:replace="commonElements :: bottom"></div>

<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/cartNav.js}"></script>
<script th:src="@{/js/location.js}"></script>
<script th:src="@{/js/browse.js}"></script>
<div th:replace="commonElements :: bootstrapFragment"></div>
</body>
</html>