<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" id="browseHtml">
<head>
    <title>Card</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body id="browseBody" class="d-flex flex-column min-vh-100">
<div th:replace="commonElements :: browseNavBar"></div>


<div class="container topMargin">
<div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
    <form th:object="${selectAddressForm}" method="post">
        <div class="form-group">
        <label for="name">Cardholder name</label> <input id="name" required minlength="1" type="text" class="form-control">
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <label for="cvv"> CVV </label> <input id="cvv" class="form-control" required type="text" maxlength="4" minlength="3">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="cardNumberInput">Card number</label> <input id="cardNumberInput" type="text" class="form-control" minlength="16">
            <span id="cardNumberError"></span>
        </div>

        <div class="form-group row " id="expiry">
            <div class="col-md-3">
                <select class="form-control custom-select">
                    <option th:each="i : ${#numbers.sequence(1, 12)}"
                            th:value="${i}"
                            th:text="${i}"></option>
                 </select>
            </div>

            <div class="col-md-3">
                <select class="form-control custom-select">
                    <option th:each="i : ${#numbers.sequence(2021, 2031)}"
                            th:value="${i}"
                            th:text="${i}"></option>
                </select>
            </div>


        </div>

        <label for="address">Address</label>
        <div th:if="${showAddress}" id="address">
            <select th:field="*{addressId}" class="form-control custom-select">
                <option th:each="address : ${addresses}" th:value="${address.id}"
                        th:utext="${address.address1}"></option>
            </select>
        </div>

        <input class="topMargin bottomMargin" type="submit" disabled id="nextBtnCard" value="Finish">
    </form>

</div>



</div>

<div id="blankDiv"></div>

</div>
</div>
</div>
<div th:replace="commonElements :: bottom"></div>

<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/cartNav.js}"></script>
<script th:src="@{/js/location.js}"></script>
<script th:src="@{/js/card.js}"></script>
<script th:src="@{/js/cart.js}"></script>
<script th:src="@{/js/cartNav.js}"></script>
<div th:replace="commonElements :: bootstrapFragment"></div>
</body>
</html>