<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<footer id="footer" class="primary page-footer font-small bg-dark mt-auto" th:fragment="footer">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Homecook
    </div>


</footer>

<div id="bottom-footer" th:fragment="bottom" class="page-footer font-small bg-dark mt-auto">
    <div class="footer-copyright text-center py-3">© 2021 Homecook
    </div>

</div>




<nav class="navbar navbar-dark bg-dark" th:fragment="simpleNavBar">
    <a href="#" class="navbar-brand">Homecook</a>
    <ul class="navbar-nav mr-auto">
    </ul>
</nav>

<div th:fragment="bootstrapFragment">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</div>

<nav class="navbar navbar-dark bg-dark" th:fragment="browseNavBarOld">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">ShareKnowledge</a>
        <ul class="navbar-nav mr-auto">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Page 1-1</a></li>
                    <li><a href="#">Page 1-2</a></li>
                    <li><a href="#">Page 1-3</a></li>
                </ul>
            </li>
        </ul>

        <form class="form-inline ml-auto" method="get" action="/browse">
            <div class="md-form my-0">
                <input class="form-control" name="searchWord" id="searchWord" type="text" placeholder="Search" aria-label="Search">
            </div>
            <button class="btn btn-primary btn-outline-white btn-md my-0 ml-sm-2" type="submit">Search</button>
        </form>
    </div>
</nav>

<nav class="navbar primary navbar-expand-lg navbar-dark bg-dark" th:fragment="browseNavBar">
    <a href="/browse" class="navbar-brand">HomeCook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link active" href="/browse"><span>Browse</span></a>
            </li>

            <form method="post" action="/location" id="locationForm">

                <input type="hidden" id="latitude" name="latitude">
                <input type="hidden" id="longitude" name="longitude">

                <button id="locationButton" class="buttonAsLink" type="submit">Change your location</button>
            </form>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span th:text="#{profile}"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <a class="dropdown-item" href="/address"><span>New address</span></a>
                    <a class="dropdown-item" href="/myaddress"><span>My addresses</span></a>
                    <a class="dropdown-item" href="/changePassword"><span>Change password</span></a>
                    <a class="dropdown-item" href="/purchase"><span>Orders</span></a>



                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/logout"><span>Log out</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/cart"><span id="cartNavTotal">0.0</span></a>
            </li>
        </ul>

    </div>
</nav>

<nav class="navbar navbar-inverse" th:fragment="najnov">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <a class="dropdown-item" href="/image"><span th:text="#{picture}"></span></a>
                    <a class="dropdown-item" href="/description"><span th:text="#{description}"></span></a>

                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item" href="/learner"><span th:text="#{learner}"></span></a>
                    <a class="dropdown-item" href="/teacher"><span th:text="#{teacher}"></span></a>
                    <a class="dropdown-item" href="/language"><span th:text="#{languages}"></span></a>

                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item" href="/changePassword"><span th:text="#{changePassword}"></span></a>
                    <a class="dropdown-item" href="/location"><span th:text="#{changeLocation}"></span></a>
                </ul>
            </li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
        </ul>
    </div>
</nav>

<nav class="navbar primary navbar-expand-lg navbar-dark bg-dark" th:fragment="cookNavBar">
    <a href="/cook/browse" class="navbar-brand">HomeCook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link active" href="/cook/browse"><span>Browse</span></a>
            </li>

            <form method="post" action="/location" id="locationForm">

                <input type="hidden" id="latitude" name="latitude">
                <input type="hidden" id="longitude" name="longitude">

                <button id="locationButton" class="buttonAsLink" type="submit">Change your location</button>
            </form>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span th:text="#{profile}"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <a class="dropdown-item" href="/cook/address"><span>Address</span></a>
                    <a class="dropdown-item" href="/cook/day"><span>Working time</span></a>
                    <a class="dropdown-item" href="/cook/off"><span>Add new holiday</span></a>
                    <a class="dropdown-item" href="/cook/allTimeOff"><span>Existing holidays</span></a>
                    <a class="dropdown-item" href="/changePassword"><span>Change password</span></a>


                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/cook/addDish"><span>Add new dish</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/cook/orders"><span>Orders</span></a>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="/logout"><span>Log out</span></a>
            </li>

        </ul>

    </div>
</nav>


</body>
</html>