<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" id="browseHtml">
<head>
    <title>Orders</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body  class="d-flex flex-column min-vh-100" id="browseBody">

<div th:replace="commonElements :: cookNavBar"></div>

<div class="container">
        <table class="table">
            <thead>
            <tr>
                <th style="width: 30.00%" scope="col">Title</th>
                <th style="width: 10.00%" scope="col">Quantity</th>
                <th style="width: 20.00%" scope="col">Time</th>
                <th style="width: 15.00%" scope="col">First name</th>
                <th style="width: 15.00%" scope="col">Last name</th>
                <th style="width: 10.00%" scope="col">Is delivery</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cookOrder : ${cookOrders}">
                <td scope="row">
        <span th:text="${cookOrder.title}">
        </span>
                </td>

                <td th:text="${cookOrder.quantity}">Otto</td>
                <td th:text="${cookOrder.time}">Otto</td>
                <td th:text="${cookOrder.fname}">Otto</td>
                <td th:text="${cookOrder.lname}">Otto</td>
                <td th:text="${cookOrder.delivery}">Otto</td>
            </tr>
            </tbody>
        </table>


    <div class="row topMargin bottomMargin">
        <a th:href="${previous}" class="btn btn-primary btn-outline-white btn-md my-0 ml-sm-2" role="button" th:if="${isTherePrevious}"><span>Previous</span></a>
        <a th:href="${next}" class="btn btn-primary btn-outline-white btn-md my-0 ml-sm-2" role="button" th:if="${isThereNext}"><span>Next</span></a>
    </div>
</div>



<div id="blankDiv"></div>
<div th:replace="commonElements :: footer"></div>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/cartNav.js}"></script>

<div th:replace="commonElements :: bootstrapFragment"></div>

</body>
</html>