<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body class="d-flex flex-column min-vh-100">

<div th:replace="commonElements :: simpleNavBar"></div>

<div class="topPadding container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">

            <form method="post" th:object="${profile}" enctype="multipart/form-data">

                <div class="form-group">
                    <label th:for="${#vars.getVariable('profile.description')}" th:text="#{cook.description}">Dish description</label>
                    <textarea class="form-control" th:field="${profile.description}" maxlength="2000" rows="6" th:errorclass="is-invalid"></textarea>
                    <div class="invalid-feedback" th:text="#{error.dishDescription}">Error</div>
                </div>

                <img th:if="${showPicture}" class="img-fluid" th:src="@{'data:image/jpg;base64,' + ${profile.image}}" />

                <label class="btn btn-primary">
                    <span th:text="#{dish.picture}"></span>
                    <input hidden type="file" th:field="*{imageFile}" th:errorclass="is-invalid" accept="image/gif, image/png, image/jpeg">
                    <div class="invalid-feedback" th:text="#{error.imageFormat}">Error</div>
                </label>


                <button th:text="#{submit}" class="topMargin bottomMargin btn btn-lg btn-primary btn-block" type="submit">Submit
                </button>


            </form>
        </div>
    </div>
</div>


<div id="blankDiv"></div>
<div th:replace="commonElements :: footer"></div>


<script th:src="@{js/main.js}"></script>
</body>
</html>