<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" id="browseHtml">
<head>
    <title>Dish</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body  class="d-flex flex-column min-vh-100">

<div th:replace="commonElements :: browseNavBar"></div>

<div class="container topMargin">
    <div class="row">
        <div class="col-md-5">
            <img  class="img-fluid" th:src="@{'data:image/jpg;base64,' + ${image}}" />
            <div class="row topPadding">
                <div class="col-md-4">
                    <select id="dishQuantitySelect" class="form-control custom-select">
                        <option th:each="i : ${#numbers.sequence(1, dish.quantity)}"
                                th:value="${i}"
                                th:text="${i}"></option>
                    </select>
                </div>
                <div class="col-md-8">
                    <button id="addToCardBtn" class="btn btn-primary btn-block">Add to card</button>
                </div>
            </div>

            <div class="row topPadding" th:if="${shouldShow}">
                <div class="col-md-4">
                    <select id="starsSelect" class="form-control custom-select">
                        <option th:each="i : ${#numbers.sequence(1, 5)}"
                                th:value="${i}"
                                th:selected="${i} == ${stars}"
                                th:text="${i}"></option>
                    </select>
                </div>
                <div class="col-md-8">
                    <button id="rateButton" class="btn btn-primary btn-block">Rate</button>
                </div>
            </div>


        </div>
        <span id="dishId" hidden th:text="${dish.id}"></span>
        <div class="col-md-7">
            <h1 th:text="${dish.title}"></h1>
            <p id="dishDescription" th:text="${dish.description}"></p>
            <h2 th:text="${dish.timeToPrepareInMinutes} + ' minutes'"> </h2>
            <h2 id="dishPrice" th:text="${dish.priceInEuro} + ' euros'"></h2>
        </div>
    </div>

</div>

<div id="blankDiv"></div>
<div th:replace="commonElements :: footer"></div>

<script th:src="@{/js/location.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/cartNav.js}"></script>
<script th:src="@{/js/dish.js}"></script>
<script th:src="@{/js/cart.js}"></script>
<script th:src="@{/js/cartNav.js}"></script>
<div th:replace="commonElements :: bootstrapFragment"></div>
</body>
</html>