<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{forgot}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body class="d-flex flex-column min-vh-100">

<div th:replace="commonElements :: simpleNavBar"></div>

<div class="container topMargin">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">

            <form method="post" id="contactForm" th:object="${forgetForm}">

                <div class="form-group">
                    <label th:for="${#vars.getVariable('forgetForm.email')}" th:text="#{register.email}">Email</label>
                    <input type="email" class="form-control" th:field="*{email}" th:errorclass="is-invalid">
                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="invalid-feedback">Incorrect
                        mail
                    </div>
                </div>

                <button th:text="#{forget.button}" class="btn btn-lg btn-primary btn-block" type="submit">Send your message
                </button>

            </form>
        </div>
    </div>
</div>

<div id="blankDiv"></div>
<div th:replace="commonElements :: footer"></div>



</body>
</html>