<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{location.button}">Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body class="d-flex flex-column min-vh-100">

<div th:replace="commonElements :: browseNavBar"></div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">

            <form method="post" action="/location" id="locationForm">

                <input type="hidden" id="latitude" name="latitude">
                <input type="hidden" id="longitude" name="longitude">

                <button id="locationButton" class="buttonAsLink" type="submit">Change your location</button>
            </form>
        </div>
    </div>
</div>

</button>

<div id="blankDiv"></div>
<div th:replace="commonElements :: footer"></div>

<script th:src="@{/js/location.js}"></script>

</body>
</html>