<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change off time</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body class="d-flex flex-column min-vh-100">

<div th:replace="commonElements :: cookNavBar"></div>

<div class="container topMargin" id="dayContainer">

    <form method="post" th:object="${timeOffForm}">

        <div class="row">

            <input type="date" th:field="*{fromDate}">

            <div class="col-md-2">
                <select class="form-control custom-select" th:field="*{fromHour}">
                    <option th:each="i : ${#numbers.sequence(0, 23)}"
                            th:value="${i}"
                            th:selected="${i} == *{fromHour}"
                            th:text="${i}"></option>
                </select>
            </div>

            <div class="col-md-2">
                <select class="form-control custom-select" th:field="*{fromMinute}">
                    <option th:each="i : ${#numbers.sequence(0, 59)}"
                            th:value="${i}"
                            th:selected="${i} == *{fromMinute}"
                            th:text="${i}"></option>
                </select>
            </div>



            <input type="date" th:field="*{untilDate}">

            <div class="col-md-2">
                <select class="form-control custom-select" th:field="*{untilHour}">
                    <option th:each="i : ${#numbers.sequence(0, 23)}"
                            th:value="${i}"
                            th:selected="${i} == *{untilHour}"
                            th:text="${i}"></option>
                </select>
            </div>

            <div class="col-md-2">
                <select class="form-control custom-select" th:field="*{untilMinute}" th:errorclass="is-invalid">
                    <option th:each="i : ${#numbers.sequence(0, 59)}"
                            th:value="${i}"
                            th:selected="${i} == *{untilMinute}"
                            th:text="${i}"></option>
                </select>

            </div>

        </div>


            <div th:if="${isThereError}" class="alert alert-danger topMargin row" th:text="#{error.mustBeBigger}">Error</div>

            <div>
            <button class="btn btn-primary topMargin row" text="submitLearn" type="submit"><span th:text="#{save}"></span></button>
            </div>
        </div>
    </form>

</div>

<div id="blankDiv"></div>
<div th:replace="commonElements :: footer"></div>
<div th:replace="commonElements :: bootstrapFragment"></div>
</body>
</html>