<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" id="browseHtml">
<head>
    <title>Orders</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body  class="d-flex flex-column min-vh-100" id="browseBody">

<div th:replace="commonElements :: browseNavBar"></div>

<div class="container">
    <div th:each="purchase : ${purchases.content}" class="topMargin bottomMargin">
        <table class="table">
        <thead>
        <tr>
        <th style="width: 45.00%" scope="col">Title</th>
        <th style="width: 15.00%" scope="col">Quantity</th>
        <th style="width: 20.00%" scope="col">Time</th>
        <th style="width: 20.00%" scope="col">Price per dish</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${purchase.items}">
        <td scope="row">
        <span th:text="${item.dish.title}">
        </span>
        </td>

        <td th:text="${item.quantity}">Otto</td>
        <td th:text="${item.chosenTime}">Otto</td>
        <td th:text="${item.pricePerDishInEuros}">Otto</td>
        </tr>
        </tbody>
        </table>
        <span>Total:</span>
        <span th:text="${purchase.totalInEuros}"></span>
    </div>

    <div class="row topMargin bottomMargin">
        <a th:href="${previous}" class="btn btn-primary btn-outline-white btn-md my-0 ml-sm-2" role="button" th:if="${isTherePrevious}"><span>Previous</span></a>
        <a th:href="${next}" class="btn btn-primary btn-outline-white btn-md my-0 ml-sm-2" role="button" th:if="${isThereNext}"><span>Next</span></a>
    </div>
</div>



<div id="blankDiv"></div>
<div th:replace="commonElements :: footer"></div>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/cartNav.js}"></script>

<div th:replace="commonElements :: bootstrapFragment"></div>

</body>
</html>