<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{register}">Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}"}>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body class="d-flex flex-column min-vh-100">

<div th:replace="commonElements :: simpleNavBar"></div>

<div class="topPadding container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">

            <form method="post" id="registrationForm" th:object="${registerForm}" enctype="multipart/form-data">
                <!--<p th:text="#{register.firstName}"></p><input type="text" th:field="*{firstName}" th:errorclass="fieldError">-->

                <div class="form-group">
                    <label th:for="${#vars.getVariable('registerForm.firstName')}" th:text="#{register.firstName}">First
                        name</label>
                    <input type="text" class="form-control" th:field="*{firstName}" th:errorclass="is-invalid">
                    <div class="invalid-feedback" th:text="#{error.firstName}">Error</div>
                </div>

                <div class="form-group">
                    <label th:for="${#vars.getVariable('registerForm.lastName')}" th:text="#{register.lastName}">Last
                        name</label>
                    <input type="text" class="form-control" th:field="*{lastName}" th:errorclass="is-invalid">
                    <div class="invalid-feedback" th:text="#{error.lastName}">Error</div>
                </div>

                <!--<p th:text="#{register.age}"></p><input type="number" min="13" max="99" th:field="*{age}">-->

                <div class="form-group">
                    <label th:for="${#vars.getVariable('registerForm.email')}" th:text="#{register.email}">Email</label>
                    <input type="email" class="form-control" th:field="*{email}" th:errorclass="is-invalid">
                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="invalid-feedback">Incorrect
                        mail
                    </div>
                </div>

                <!--<p th:text="#{register.email}"></p><input type="email" th:field="*{email}">-->



                <div class="form-group">
                    <label th:for="${#vars.getVariable('registerForm.unencryptedPassword')}"
                           th:text="#{register.password}">Password</label>
                    <input type="password" class="form-control" th:field="*{unencryptedPassword}"
                           th:errorclass="is-invalid">
                    <div th:if="${#fields.hasErrors('unencryptedPassword')}" th:errors="*{unencryptedPassword}"
                         class="invalid-feedback">Incorrect password
                    </div>

                    <label th:for="${#vars.getVariable('registerForm.unencryptedRepeatedPassword')}"
                           th:text="#{register.repeatPassword}">Password</label>
                    <input type="password" class="form-control" th:field="*{unencryptedRepeatedPassword}"
                           th:errorclass="is-invalid">
                    <div th:if="${#fields.hasErrors('unencryptedRepeatedPassword')}"
                         th:errors="*{unencryptedRepeatedPassword}" class="invalid-feedback">Incorrect password
                    </div>

                </div>


                <div class="form-check">
                    <input class="form-check-input" type="radio" value="ROLE_CLIENT" name="role" id="flexRadioDefault1" checked>
                    <label class="form-check-label" for="flexRadioDefault1">
                        User
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" value="ROLE_COOK" type="radio" name="role" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                        Cook
                    </label>
                </div>


                <button th:text="#{register}" class="topMargin btn btn-lg btn-primary btn-block" type="submit">Register
                </button>


                <input type="hidden" th:field="*{latitude}">
                <input type="hidden" th:field="*{longitude}">

            </form>
        </div>
    </div>
</div>


<div id="blankDiv"></div>
<div th:replace="commonElements :: footer"></div>


<script th:src="@{js/main.js}"></script>
</body>
</html>